- var getUpDirs = function(howMany) {
-	var retValue = ""
-	for(var i = 0;i<howMany;i++) {
-		retValue += "../"
-	}	
-	return retValue;
- }


- var getRelativeLink = function (objectToLink) {
- 	var thisDepth = depth;
- 	var otherDepth = objectToLink.depth
-	var updirs = getUpDirs(thisDepth);
-	if(thisDepth > 0) {
-		return updirs.substr(0,updirs.length-1)+objectToLink.link;	
-	} else {
-		return 	"."+objectToLink.link;
-	}
- }

- var extractVars = function(cont) {
- 		cont = cont.replace(/#\{base\}/g, base )
-		cont = cont.replace(/\{youtube\}\{(.*?)\}\{(.*?)\}/g, "<div class=\"videoWrapper\"><iframe class=\"video\" src=\"//www.youtube.com/embed/$1\" frameborder=\"0\"></iframe></div><div class=\"videoCaption\"><p>$2</p></div>" )
-		return cont;
- }